@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.custom-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media screen and (min-width: 1500px) {
  .custom-container {
    max-width: 1400px;
  }
}
@media screen and (min-width: 1600px) {
  .custom-container {
    max-width: 1500px;
  }
}
@media screen and (min-width: 1800px) {
  .custom-container {
    max-width: 1600px;
  }
}
@media screen and (min-width: 2000px) {
  .custom-container {
    max-width: 1800px;
  }
}

/* slider */
.slider-control-bottomcenter {
  top: 50px;
  position: relative;
}
li.paging-item {
  width: 30px;
  background: #c4c4c4;
  transition: 0.4s;
  margin: 0 5px;
  height: 15px;
  border-radius: 30px;
  color: transparent !important;
}

li.paging-item.active {
  width: 60px;
}

li.paging-item * {
  fill: transparent !important;
}

.input {
  background: #ffffff6d;
  width: 100%;
  padding: 10px;
  height: 55px;

  border: 1px solid #4f4f4f;
  border-radius: 4px;
}

::placeholder{
    color: #4F4F4F;
}

.btn-primary{
    background-color: #007FFF;
    color: white;
    padding: 16px;
}

.otp-input{
    width: 65px;
    height: 65px;
    background-color: #EDEDED;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
}

/* hide number input arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.onboarding-sidebar{
    background: linear-gradient(180deg, #007FFF 0%, #2A53E4 100%);
}

.shadow-custom{
    box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.1), 3px 3px 10px rgba(0, 0, 0, 0.1);
}

body, html{
    overflow: hidden;
}
.main-field {
    overflow-y: scroll;
    height: 100vh;
}
